#div{
    background-color: rgb(142, 145, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding: 20px; 
}

.countdown-wrapper {
    font-size: 2em; /* Adjust the font size to your preference */
  }
  